In [19]:
import numpy as np
from scipy import sparse
import sys
sys.path.append('../tools/')
from model_manager import model_manager as mm

In [2]:
xgr = mm('xgr', '../models/')
lr = mm('Linear_regression', '../models/')

In [3]:
models = {'xgr': xgr, 'lr': lr}

In [4]:
for _, model in models.items():
    model.load()

Done
Done

In [33]:
test = dict(np.load('../data/test_matrix.npz', allow_pickle = True))

In [39]:
test = test['arr_0'].item()

In [74]:
id

<300000x1 sparse matrix of type '<class 'numpy.float64'>'
	with 300000 stored elements in Compressed Sparse Column format>

In [43]:
id = test.tocsc()[:, 0]
features = test.tocsc()[:, 1:]

In [44]:
embedding = models['xgr'].model.apply(features)

In [48]:
pred = models['lr'].model.predict(embedding)

In [52]:
def approximation(x):
    if x > 5:
        x = 5
    if x < 1:
        x = 1
    res = int(x * 10) % 10
    if res >= 5:
        return int(x) + 1
    else:
        return int(x)

array([5.000000e+00, 1.100000e+01, 1.700000e+01, ..., 1.179353e+06,
       1.179354e+06, 1.179355e+06])

In [85]:
pred = [float(approximation(i)) for i in pred]

In [86]:
pd.DataFrame({'Id': np.array(id.todense()).reshape(-1).astype(int), 'Score': pred}).sort_values(by = 'Id').reset_index(drop = True).to_csv('./submission.csv', index = False)

In [73]:
pd.DataFrame({'Id': np.array(id.todense()).reshape(-1).astype(int), 'Score': pred})

             Id  Score
0             5      5
1            11      4
2            17      4
3            46      4
4            47      4
...         ...    ...
299995  1179351      4
299996  1179352      3
299997  1179353      4
299998  1179354      5
299999  1179355      5

[300000 rows x 2 columns]

In [83]:
set(pd.DataFrame({'Id': np.array(id.todense()).reshape(-1).astype(int), 'Score': pred}).Id).difference(set(pd.read_csv('./submission1.csv').Id))

set()

In [58]:
import pandas as pd
pd.read_csv('./submission1.csv')

             Id  Score
0             5    5.0
1            11    5.0
2            17    4.0
3            46    4.0
4            47    4.0
...         ...    ...
299995  1697520    3.0
299996  1697522    4.0
299997  1697524    4.0
299998  1697527    4.0
299999  1697528    4.0

[300000 rows x 2 columns]